* {
  box-sizing: border-box;
  margin: 0;
}

body {
  font-family:  'Mulish', sans-serif;
}

.loading {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.loading-title {
  font-weight: 400;
  font-size: 18px;
  line-height: 1.3333333333;
  /* padding: 80px 112px 210px 210px; */
  color: #151B26;
  text-align: center;
  margin-bottom: 20px;
  animation-name: flicker;
  animation-duration: 1600ms;
  animation-iteration-count :infinite;
  animation-direction: alternate;
}

.progress-bar {
  width: 300px;
  height: 12px;
  background-color: #E5EAEF;
  border-radius: 100px;
  position: relative;
}

.progress-bar-gauge {
  position: absolute;
  top: 0;
  left: 0;
  width: 0;
  height: 12px;
  background-color: #13CE66;
  border-radius: 100px;
  overflow: hidden;
  justify-content: center;
  align-items: center;
  animation-name: loading-bar;
  animation-duration: 1600ms;
  animation-iteration-count :infinite;
  animation-timing-function: ease-in;
}

@keyframes flicker {
  from {
    opacity: 1;
  }

  to {
    opacity: 0;
  }
}

@keyframes loading-bar {
  0% {
    width: 0;
    opacity: 1;
  }

  90% {
    width: 100%;
    opacity: 1;
  }

  100% {
    width: 100%;
    opacity: 0;
  }
}