* {
  box-sizing: border-box;
  margin: 0;
}

body {
  font-family: "Lato", sans-serif;
}

h1 {
  font-size: 16px;
  font-weight: 400;
  line-height: 1.5;
  color: #273444;
}

.user-photo, .user-name {
  float : left;
}
.user-card ::after {
  content: '';
  display: block;
  clear: left;
}

.user-card {
  border-radius : 4px;
  border: 1px solid #E5EAEF;
  width: 240px;
  height: 56px;
  padding: 8px 12px;
}

.user-photo {
  position: relative;
}
.user-photo img {
  width: 40px;
  height: 40px; 
  border-radius : 50%;
  display: block;
}

.user-status {
  position: absolute;
  width: 12px;
  height: 12px;
  background: #21D891;
  border: 2px solid #ffffff;
  border-radius : 50%;
  right: 0;
  bottom: 0;
}

.user-name {
  padding: 8px 0;
}
