* {
    box-sizing: border-box;
    margin: 0;
}

body {
    font-family: 'DM Sans', sans-serif;
}

/* reset css */
a {
    text-decoration: none;
    color: inherit;
}

button,
input,
textarea {
    font-family: 'DM Sans', sans-serif;
    font-size: 16px;
}

button:focus,
button:active,
input:focus,
input:active,
textarea:focus,
textarea:active {
    box-shadow: none;
    outline: none;
}

ul,
ol,
li {
    list-style: none;
    padding-left: 0;
    margin-left: 0;
}

p {
    font-size: 16px;
    line-height: 1.5;
    color: #2B292D;
    letter-spacing: -0.01em;
}

.top {
    background-color: #FDDED8;
    height: 568px;
}

.text {
    font-weight: bold;
    font-size: 40px;
    line-height: 1;
    text-align: center;
    margin-bottom: 15px;
    padding-top: 154px;
    padding-left: 15px;
    padding-right: 15px;
}

.bt-text {
    font-weight: normal;
    line-height: 1.375;
    text-align: center;
    padding-left: 15px;
    padding-right: 15px;
}

.apply, .learn {
    width: 140px;
    height: 48px;
    border-radius: 2px;
    border: none;
    text-align: center;
    font-weight: bold;
    font-size: 15px;
    line-height: 1.6;
}

.apply {
    background-color: #3040C4;
    color:#ffff;
    margin-left: 15px;
}

.learn {
    background-color:#ffff;
    color: #3040C4;
    margin-left: 8px;
}

.top-side {
    background-color: #F4F5F7;
    height: 340px;
}

.title {
    font-weight: bold;
    font-size: 26px;
    line-height: 1.307692307692308;
}

.content {
    font-weight: normal;
    font-size: 22px;
    line-height: 1.454545454545455;
}

.program img {
    height: 195px;
}

.curriculum img {
    height: 450px;
}

.banner img {
    height: 300px;
}

/* 768px 이상 (Desktop) */
@media screen and (min-width: 768px) {
    /* reset css */
    p {
        font-size: 22px;
        line-height: 1.454545454545455;
    }
}

/* custom grid system */
@media screen and (min-width:1200px) {
    .container {
        max-width: 960px;
    }
}
