* {
    box-sizing: border-box;
    margin: 0;
}
html {
    width: 100%;
}

body {
    font-family: 'DM Sans', sans-serif;
    width: 100%;
}


/* reset css */
a {
    text-decoration: none;
    color: inherit;
}

button,
input,
textarea {
    font-family: 'DM Sans', sans-serif;
    font-size: 16px;
}

button:focus,
button:active,
input:focus,
input:active,
textarea:focus,
textarea:active {
    box-shadow: none;
    outline: none;
}

ul,
ol,
li {
    list-style: none;
    padding-left: 0;
    margin-left: 0;
}

p {
    font-size: 16px;
    line-height: 1.5;
    color: #2B292D;
    letter-spacing: -0.01em;
}

.fill-button {
    display: inline-flex;
    justify-content: center;
    align-items: center;
    width: 140px;
    height: 48px;
    border-radius: 2px;
    border: none;
    font-weight: bold;
    font-size: 15px;
    line-height: 1.6;
    background-color: #3040C4;
    color:#ffff;
    transition: opacity 300ms ease-in;
}

.fill-button.inverted {
    color: #3040C4;
    background-color:#ffff;
}

.fill-button:hover {
    opacity: 0.5;
}
/* Landing Section */

.landing {
    background-color: #FDDED8;
    text-align: center;
}

.landing-content {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 100vh;
}

.landing-title {
    font-weight: bold;
    font-size: 40px;
    line-height: 1;
    margin-bottom: 24px;
}

.landing-desc {
    font-weight: normal;
    line-height: 1.375;
    margin-bottom: 20px;
}

.landing .button-group {
    display: flex;
    justify-content: center;
    align-items: center;
}

.landing .button-group .fill-button:nth-child(1) {
    margin-right: 8px;
}

/* Service Section */

.service {
    background-color: #F4F5F7;
    padding: 80px;
}

.service .col-12:first-child {
    margin-bottom: 40px;
}

.service-title {
    font-size: 22px;
    line-height: 1.363636363636364;
    letter-spacing: -0.04em;
    color: #2B292D;
    margin-bottom: 16px;
}

.program img {
    height: 195px;
}

.curriculum img {
    height: 450px;
}

.banner img {
    height: 300px;
}

/* 768px 이상 (Desktop) */
@media screen and (min-width: 768px) {
    /* reset css */
    p {
        font-size: 22px;
        line-height: 1.454545454545455;
    }
    /* Landing*/
    .landing-title {
        margin-bottom: 32px;
        font-size: 70px;
        line-height: 1.028571428571429;
    }
    
    .landing-desc {
        margin-bottom: 32px;
    }
    
    .button-group .fill-button{
        width: 160px;
        height: 56px;
        font-size: 18px;
        line-height: 1.555555555555556;
    }

    .landing .button-group .fill-button:nth-child(1) {
        margin-right: 16px;
    }

    .landing-content {
        height: auto;
        padding: 120px;
    }

    /* Service Section */
    .service {
        height: auto;
        width: 100%;
    }
    .service .col-12:first-child {
        margin-bottom: 0;
    }

    .service-title {
        font-size: 26px;
        line-height: 1.307692307692308;
    }
    .service-desc {
        font-size: 22px;
        line-height: 1.454545454545455;
    }
}

/* custom grid system */
@media screen and (min-width:1200px) {
    .container {
        max-width: 960px !important;
    }
}
