.like-button {
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

* {
  box-sizing: border-box;
  margin: 0;
}

body {
  font-family: 'Poppins',sans-serif;
}

.sr-only {
  position: absolute;
  z-index: -100;
  width: 1px;
  height: 1px;
  overflow: hidden;
  opacity: 0;
}

.card {
  width: 840px;
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  padding: 24px 24px;
}

.card-image {
  position: relative;
  width: 300px;
  height: 200px;
  background-image: url(./assets/img-house.jpg);
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
  border-radius: 6px;
  margin-right: 24px;
}

.card-image .like-button {
  width: 36px;
  height: 36px;
  background-color: #FFFFFF;
  background-image: url('./assets/icon-favorite.svg');
  background-repeat: no-repeat;
  background-position: center center;
  border-radius: 100px;
  border: none;
  cursor: pointer;
  position: absolute;
  top: 12px;
  left: 12px;
}

.card-content {
  flex-grow: 1; 
}

.card-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 8px;
}

.plus-badge {
  display: inline-block;
  background-color: #92174D;
  color: #FFFFFF;
  border-radius: 4px;
  width: 48px;
  height: 22px;
  margin-right: 6px;
  font-weight: 500;
  font-size: 14px;
  line-height: 1.428571428571429;
  padding: 1px 8px;
  text-transform: uppercase;
}

.property-type span {
  color: #7D858F;
  font-size: 16px;
  line-height: 1.25;
}

.property-rate {
  font-size: 16px;
  line-height: 1.25;
}

.property-rate strong {
  color: #151B26;
}

.property-rate span {
  color: #7D858F;
  font-weight: 400;
}

.property-rate::before {
  content: '';
  position: relative;
  top: 2px;
  display: inline-block;
  width: 16px;
  height: 16px;
  background-image: url('./assets/icon-star.svg');
  background-repeat: no-repeat;
  background-position: center center;
  background-size: contain;
}

.card-title {
  color: #151B26;
  font-size: 20px;
  line-height: 1.6;
  font-weight: 400;
  margin-bottom: 16px;
}

.property-detail {
  color: #7D858F;
  font-size: 14px;
  line-height: 1.142857142857143;
}

.property-detail dd span::after {
  content: '·';
  margin: '0 8px';
}

.property-detail dd span:last-child::after {
  content: '';
  margin: 0;
}

.property-detail div:first-child {
  margin-bottom: 8px;
}